[Unit]
Description=Minecraft Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/bin/bash /home/ubuntu/minecraft-ec2/server/start.shs

[Install]
WantedBy=multi-user.target